.mainMenuWrapper {
  margin: 0 auto;
  width: 95%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.addButton {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 25px;
  border: 0;
  background: transparent;
}
.tabMenuSection {
  width: calc(100% - 40px);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.arrowWrapper {
  width: 32px;
  float: left;
}
.arrowWrapper button {
  cursor: pointer;
  background: transparent;
  border: 0;
}
.tabMenu {
  width: calc(100% - 103px);
  overflow-x: auto;
  overflow-y: hidden;
  margin: 15px 15px 0 15px;
  float: left;
  white-space: nowrap;
  scrollbar-width: none;
}
.leftArrow::before {
  content: '<';
  font-size: 25px;
}
.rightArrow::before {
  content: '>';
  font-size: 25px;
}
.dropContainer {
  border: 1px solid #000;
  margin: 20px auto;
  width: 88%;
  height: 200px;
}
.dropSection {
  font-size: 25px;
  text-align: left;
  margin: 20px auto;
  width: 90%;
}
.tabMenu::-webkit-scrollbar {
  width: 0;
}
