.tab {
  width: 100px;
  padding: 15px 10px;
  margin: 0 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: gray;
}
.hoverX {
  position: absolute;
  right: 0;
  border: 0;
  background: transparent;
  top: 0;
  font-size: 18px;
  cursor: pointer;
}
.tab:first-child {
  border-bottom: 4px solid #2ca2ff;
}
